@model IEnumerable<MamalakisProject.Models.IngredientsPerRecipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metric.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredients.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metric.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
